.u-section-1 .u-sheet-1 {
  min-height: 725px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-form-horizontal1 {
  display: flex;
  flex-flow: row;
  align-items: center;
  flex-grow: 1;
}

.u-form-horizontal1 :not(.u-label-top) {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 0;
  flex-grow: 1;
}

.u-form-horizontal1 .u-form-group:not(.u-label-top) label,
.u-form-horizontal1 .u-form-group:not(.u-label-top) input,
.u-form-horizontal1 .u-form-select-wrapper,
.u-form-horizontal1 .u-form-radio-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  flex-grow: 1;
}

.u-form-horizontal1 .u-form-group.u-label-top:not(.u-form-submit) {
  width: 100%;
}

.u-form-horizontal .u-form-group.u-form-image {
  display: none;
}

.u-form-horizontal1 .u-form-group.u-form-line {
  display: none;
}

.u-form-horizontal1 .u-form-submit {
  display: flex;
  flex-grow: 0 !important;
}

.u-form-horizontal1 .u-form-submit label {
  display: none !important;
}

.u-form-horizontal1 .u-form-group.u-label-top.u-form-submit {
  align-self: flex-end;
}

.u-form-horizontal1 .u-form-group:not(.u-label-top) label {
  display: flex;
  flex-grow: 0;
  margin-right: 10px;
}

.u-form-horizontal1 .u-form-group:not(.u-label-top) .u-input {
  display: flex;
  width: 0;
  vertical-align: middle;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0px;
}

.u-form-horizontal1 .u-form-group.u-form-submit {
  margin-right: 0;
}

.u-form-horizontal1 .input-group {
  width: auto;
}

.u-form-horizontal1 .u-form-rating.u-form-group {
  display: none;
}

@media (max-width: 767px) {
  .u-form-horizontal1 {
    flex-direction: column;
    align-items: stretch;
    margin: -0.5rem !important;
  }

  .u-form-horizontal1 .u-form-group {
    border: 0.5rem solid transparent !important;
    margin-right: 0 !important;
  }

  .u-form-horizontal1 label {
    display: none;
  }

  .u-form-horizontal1 .u-btn-submit {
    flex-grow: 1;
  }
}


.u-form-horizontal1.u-form-spacing-151 .u-form-group {
  margin-right: 15px;
}

.u-form-horizontal1.u-form-spacing-151 .u-form-group {
  margin-right: 15px;
}

.u-section-1 .u-form-1 {
  height: 78px;
  width: 724px;
  margin: 241px auto 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-2 {
  height: 78px;
  width: 724px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 59px;
  }

  .u-section-1 .u-form-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 326px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-top: -21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-2 {
    width: 540px;
    margin-top: -8px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: -47px;
  }

  .u-section-1 .u-form-2 {
    width: 340px;
  }
}